<header>
  <div class="collapse" id="navbarHeader">
      <div class="container">
          <div class="row">
              <div class="col-sm-8 col-md-7 py-4">
                  <a href="/">
                    <h5 class="text-white display-6">
                        <i class="bi bi-caret-right"></i>Menu
                    </h5>
                  </a>
              </div>
              <div class="col-sm-4 offset-md-1 py-4">
                    <h6 class="text-white display-6">
                        <i class="bi bi-caret-right-fill"></i>  Opções
                    </h6>
                  <ul class="list-unstyled">
                        <hr>
                        <li>
                          <a href="/user/show" class="text-white main">
                            <i class="bi bi-cart-check"></i> Pets
                          </a>
                        </li>
                        <hr>
                        <li>
                            <a href="/help" class="text-white main">
                                <i class="bi bi-headset"></i> Ajuda
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="#" class="text-white main">
                                <i class="bi bi-images"></i> Postagens
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="/login" class="text-white main">
                                <i class="bi bi-person"></i> Entrar
                            </a>
                        </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="navbar bg-success navbar-dark shadow-sm">
      <div class="container">
          <a href="/" class="navbar-brand d-flex align-items-center">
                <i class='bx bxl-baidu'></i>
                <strong>UniPet</strong>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
  </div>
</header>