/* ------------------------------ CRIAÇÃO DA SIDEBAR PARA A EXIBIÇÃO DE INFORMAÇÕES */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: forestgreen; 
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
    
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
  }
    
  .sidebar a:hover {
    color: black;
  }
    
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
    
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 2vh;
  }
    
  .openbtn:hover {
    background-color: #444;
  }
  #container {
    transition: margin-left .5s;
    padding: 20px;
  }
    
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  
  .btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: 0;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #ffffff26;
  }
    
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
    
  .btn-toggle[aria-expanded="true"] {
    color: white;
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  .btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: #d2f4ea;
  }
  .scrollarea {
  overflow-y: auto;
  }
  .fw-semibold { font-weight: 600; }
  .lh-tight { line-height: 1.25; }
  
  .imgMenu{
    width: 120px;
    height: 120px;
  }
  .itens-sidebar{
    margin-left: 2vh;
  }
  /* ------------------------------ FINALIZANDO CRIAÇÃO DA SIDEBAR PARA A EXIBIÇÃO DE INFORMAÇÕES */