/* ------------------------------ CONFIGURAÇÕES DE ESTILO DA PÁGINA DO ADMIN */
body{
  background-image: url('/img/backgroundAdmin.png');
  background-repeat: no-repeat;
  background-size: auto;
}
.text-center{
  color: forestgreen;
}
.animation{ 
  display: inline-block;
  border-right: 2px solid #000;
  padding-right:3px ;
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: pisca normal infinite .8s, escrever normal 8s steps(55) both;
}
@keyframes pisca {
  100%{
      border-right-color: transparent;
  }
}
@keyframes escrever {
  100%{
      max-width: 100%;
  }
}
/* ------------------------------------------------------------------------------------ */