<%- include('../../../partials/admin/head.ejs') %> 
    <link rel="stylesheet" type="text/css" href="/css/adminIndex.css">
    <title>Administrativo</title>
    <%- include('../../../partials/admin/head2.ejs') %> 
<body>
    <%- include('../../../partials/admin/nav.ejs') %> 
    <div id="container">
        <button class="openbtn" onclick="openNav()">&#9776; Menu</button>
        <div class="card mt-2">
            <div class="text-center">
                <h2 class="display-6 animation">Bem vindo ao painel Administrativo da UniPet!</h2>
            </div>
        </div>
    </div>
</body>
<%- include('../../../partials/admin/footer.ejs') %> 
